In [1]:
# # Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time


# Import API key
from api_keys import api_key
#Read csv data set
file_to_load = "Resources/tmdb_5000_movies.csv"
tmdb_data=pd.read_csv(file_to_load)

#output data path
output_data_file = "output_data/tmd_api_movie.csv"

In [2]:
#Generate movie id list
movie_id = tmdb_data["id"]
len(movie_id)

4803

In [3]:
#test cell
base_url = "https://api.themoviedb.org/3/movie/"
url=base_url+str(movie_id[10])+"?api_key="+api_key+"&language=en-US"
response=requests.get(url).json()
print(response["title"])
print(len(response["genres"]))

Superman Returns
3

In [8]:
#initial counter
record_counter=0
set_counter=1

#Generate list
id_list=[]
title_list=[]
adult_list=[]
budget_list=[]
genres1_list=[]
genres2_list=[]
genres3_list=[]
genres4_list=[]
language_list=[]
pop_list=[]
company_list=[]
country_list=[]
release_date_list=[]
revenue_list=[]
run_time_list=[]
vote_ave_list=[]
vote_count_list=[]

base_url = "https://api.themoviedb.org/3/movie/"

print("Beginning Data Retrieval\n")
print("-"*30)

for i in movie_id:
    try:
        url=base_url+str(i)+"?api_key="+api_key+"&language=en-US"
        response=requests.get(url).json()
        id_list.append(response["id"])
        title_list.append(response["title"])
        adult_list.append(response["adult"])
        budget_list.append(response["budget"])
        #genres_list.append(response["genres"])
        if len(response["genres"]) == 1:
            genres1_list.append(response["genres"][0]["name"])
            genres2_list.append("")
            genres3_list.append("")
            genres4_list.append("")
        elif len(response["genres"]) == 2:
            genres1_list.append(response["genres"][0]["name"])
            genres2_list.append(response["genres"][1]["name"])
            genres3_list.append("")
            genres4_list.append("")
        elif len(response["genres"]) == 3:
            genres1_list.append(response["genres"][0]["name"])
            genres2_list.append(response["genres"][1]["name"])
            genres3_list.append(response["genres"][2]["name"])
            genres4_list.append("")
        elif len(response["genres"]) == 4:
            genres1_list.append(response["genres"][0]["name"])
            genres2_list.append(response["genres"][1]["name"])
            genres3_list.append(response["genres"][2]["name"])
            genres4_list.append(response["genres"][3]["name"])
        language_list.append(response["original_language"])
        company_list.append(response["production_companies"])
        country_list.append(response["production_countries"][0]["iso_3166_1"])
        release_date_list.append(response["release_date"])
        run_time_list.append(response["runtime"])
        vote_ave_list.append(response["vote_average"])
        vote_count_list.append(response["vote_count"])
        
        
        record_counter+=1
        if record_counter==10:
            break
        if record_counter==51:
            record_counter=1
            set_counter+=1
        print("Processing Record "+str(record_counter)+" of Set "+str(set_counter)+" | Movie ID"+ str(i))
        
    except:
        print("Movie not found. Skipping ...")
        break

Beginning Data Retrieval

------------------------------
Processing Record 1 of Set 1 | Movie ID19995
Processing Record 2 of Set 1 | Movie ID285
Processing Record 3 of Set 1 | Movie ID206647
Processing Record 4 of Set 1 | Movie ID49026
Processing Record 5 of Set 1 | Movie ID49529
Processing Record 6 of Set 1 | Movie ID559
Processing Record 7 of Set 1 | Movie ID38757
Processing Record 8 of Set 1 | Movie ID99861
Processing Record 9 of Set 1 | Movie ID767

In [9]:
movie_df=pd.DataFrame({"ID":id_list,
                       "Title": title_list,
                       "Adult":adult_list,
                       "Budget":budget_list,
                       "Genres1":genres1_list,
                       "Genres2":genres2_list,
                       "Genres3":genres3_list,
                       "Genres4":genres4_list,
                       "Language":language_list,
                       "Production Company":company_list,
                        "Production Country":country_list,
                        "Release Date":release_date_list,
                        "Run Time":run_time_list,
                         "Vote Average":vote_ave_list,
                         "Vote Count":vote_count_list
                      })
movie_df

,ID,Title,Adult,Budget,Genres1,Genres2,Genres3,Genres4,Language,Production Company,Production Country,Release Date,Run Time,Vote Average,Vote Count
0,19995,Avatar,False,237000000,Action,Adventure,Fantasy,Science Fiction,en,"[{'id': 444, 'logo_path': '/42UPdZl6B2cFXgNUAS...",US,2009-12-10,162,7.4,19560
1,285,Pirates of the Caribbean: At World's End,False,300000000,Adventure,Fantasy,Action,,en,"[{'id': 130, 'logo_path': '/c9dVHPOL3cqCr2593A...",US,2007-05-19,169,7.1,8837
2,206647,Spectre,False,245000000,Action,Adventure,Crime,,en,"[{'id': 10761, 'logo_path': None, 'name': 'Dan...",GB,2015-10-26,148,6.4,6999
3,49026,The Dark Knight Rises,False,250000000,Action,Crime,Drama,Thriller,en,"[{'id': 9996, 'logo_path': '/3tvBqYsBhxWeHlu62...",US,2012-07-16,165,7.7,14661
4,49529,John Carter,False,250000000,Action,Adventure,Science Fiction,,en,"[{'id': 2, 'logo_path': '/wdrCwmRnLFJhEoH8GSfy...",US,2012-03-07,132,6.1,3504
5,559,Spider-Man 3,False,258000000,Fantasy,Action,Adventure,,en,"[{'id': 19551, 'logo_path': '/2WpWp9b108hizjHK...",US,2007-05-01,139,6.2,7664
6,38757,Tangled,False,260000000,Animation,Family,,,en,"[{'id': 6125, 'logo_path': '/tVPmo07IHhBs4Huil...",US,2010-11-24,100,7.5,6867
7,99861,Avengers: Age of Ultron,False,280000000,Action,Adventure,Science Fiction,,en,"[{'id': 420, 'logo_path': '/hUzeosd33nzE5MCNsZ...",US,2015-04-22,141,7.3,14398
8,767,Harry Potter and the Half-Blood Prince,False,250000000,Adventure,Fantasy,Family,,en,"[{'id': 174, 'logo_path': '/ky0xOc5OrhzkZ1N6Ky...",GB,2009-07-07,153,7.6,11226
9,209112,Batman v Superman: Dawn of Justice,False,250000000,Action,Adventure,Fantasy,,en,"[{'id': 41624, 'logo_path': '/wzKxIeQKlMP0y5Ca...",US,2016-03-23,151,5.8,12481