In [1]:
# # Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import sys
# Import API key
from api_keys import api_key
#Read csv data set
tmdb_5000_movies = "Resources/tmdb_5000_movies.csv"
release_dates_per_country="Resources/release_dates_per_country.csv"
movie_metadata="Resources/movie_metadata.csv"
tmdb_data=pd.read_csv(tmdb_5000_movies)
release_data=pd.read_csv(release_dates_per_country)
imdb_data=pd.read_csv(movie_metadata)
#output data path
output_data_file = "output_data/tmd_api_movie.csv"

In [2]:
#Generate movie id list
movie_5000_id = tmdb_data["id"].tolist()
movie_release_id =release_data["movie_id"].tolist()
#Combine movie id list by unique values
movie_id=np.unique(movie_5000_id+movie_release_id)
#check how many ids in the movie_id list
print(len(movie_id))

8798

In [ ]:
# #test cell
# base_url = "https://api.themoviedb.org/3/discover/movie/"
# url=base_url+"?api_key="+api_key+"&language=en-US"+"&primary_release_date.gte=2019-01-01&primary_release_date.lte=2019-01-01"
# response=requests.get(url).json()
# m_list=[]
# print(response["total_results"])

In [3]:
#test api key to see the api structure in chrome
base_url = "https://api.themoviedb.org/3/movie/"
url=base_url+str(290)+"?api_key="+api_key+"&language=en-US"
response=requests.get(url).json()
print(url)

https://api.themoviedb.org/3/movie/290?api_key=1a73cd8c9dab961715e0c0320108d3cb&language=en-US

In [4]:
#initial counter
record_counter=0
set_counter=1

#define list
id_list=[]
title_list=[]
adult_list=[]
budget_list=[]
genres_list=[]
imdb_id_list=[]
language_list=[]
pop_list=[]
company_list=[]
country_list=[]
release_date_list=[]
revenue_list=[]
run_time_list=[]
vote_ave_list=[]
vote_count_list=[]

base_url = "https://api.themoviedb.org/3/movie/"

print("Beginning Data Retrieval\n")
print("-"*30)
#Scrap data from api
for m_id in movie_id:
    try:
        url=base_url+str(m_id)+"?api_key="+api_key#+"&language=en-US"
        response=requests.get(url).json()
        id_list.append(response["id"])
        title_list.append(response["title"])
        adult_list.append(response["adult"])
        budget_list.append(response["budget"])
        genres_list.append([i["name"] for i in response["genres"]])
        imdb_id_list.append(response["imdb_id"])
        language_list.append(response["original_language"])
        pop_list.append(response["popularity"])
        company_list.append([j["name"] for j in response["production_companies"]])
        country_list.append([k["name"] for k in response["production_countries"]])
        release_date_list.append(response["release_date"])
        revenue_list.append(response["revenue"])
        run_time_list.append(response["runtime"])
        vote_ave_list.append(response["vote_average"])
        vote_count_list.append(response["vote_count"])
        
        record_counter+=1
        sys.stdout.write('\r'+'Processing Record '+str(record_counter))
        sys.stdout.flush()
#         if record_counter==1000:  # test loop use only
#             break
#        if record_counter==51:
#             record_counter=1
#             set_counter+=1
#        print("Processing Record "+str(record_counter)+" | Movie ID"+ str(m_id))

    except:
        pass

#        print("Movie not found. Skipping ...")
#print ("-"*30)
print ("\nData Retrieval Complete\n")
print ("-"*30)
print ("Movie Found "+str(record_counter))

Beginning Data Retrieval

------------------------------
Processing Record 8787
Data Retrieval Complete

------------------------------
Movie Found 8787

In [5]:
#Generate tmdb data frame
tmdb_df=pd.DataFrame({ "imdb ID": imdb_id_list,
                         "ID":id_list,
                       "Title": title_list,
                       "Adult":adult_list,
                       "Budget":budget_list,
                           "Genres":genres_list,
                         "Language":language_list,
                          "Production Company":company_list,
                         "Popularity":pop_list,
                          "Revenue":revenue_list,
                            "Production Country":country_list,
                          "Release Date":release_date_list,
                          "Run Time":run_time_list,
                          "Vote Average":vote_ave_list,
                        "Vote Count":vote_count_list})
tmdb_df.head()

,imdb ID,ID,Title,Adult,Budget,Genres,Language,Production Company,Popularity,Revenue,Production Country,Release Date,Run Time,Vote Average,Vote Count
0,tt0113101,5,Four Rooms,False,4000000,"[Crime, Comedy]",en,"[Miramax, A Band Apart]",18.932,4300000,[United States of America],1995-12-09,98.0,6.1,1312
1,tt0107286,6,Judgment Night,False,21000000,"[Action, Thriller, Crime]",en,"[Universal Pictures, Largo Entertainment, JVC ...",8.657,12136938,"[Japan, United States of America]",1993-10-15,110.0,6.6,127
2,tt0076759,11,Star Wars,False,11000000,"[Adventure, Action, Science Fiction]",en,"[Lucasfilm, 20th Century Fox]",50.480,775398007,[United States of America],1977-05-25,121.0,8.2,12125
3,tt0266543,12,Finding Nemo,False,94000000,"[Animation, Family]",en,[Pixar],46.917,940335536,[United States of America],2003-05-30,100.0,7.8,12365
4,tt0109830,13,Forrest Gump,False,55000000,"[Comedy, Drama, Romance]",en,[Paramount],29.699,677945399,[United States of America],1994-07-06,142.0,8.4,15958

In [6]:
#save data frame to csv
tmdb_df.to_csv("output_data/tmd_api_movie_original.csv",index=False)

In [7]:
#subset imdb_data
imdb_data.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [9]:
#clean up imdb data set pull out of the imdb id in order to merge with tmdb data set
imdb_df=imdb_data.drop(["color","duration","movie_title","facenumber_in_poster","language","country","budget","genres","num_critic_for_reviews","gross"],axis=1)
columnTitles=["movie_imdb_link","director_name","director_facebook_likes","actor_1_name","actor_1_facebook_likes","actor_2_name","actor_2_facebook_likes",
              "actor_3_name","actor_3_facebook_likes","plot_keywords","num_voted_users","cast_total_facebook_likes","num_user_for_reviews","content_rating","title_year",
              "imdb_score","aspect_ratio","movie_facebook_likes"]
imdb_df=imdb_df.reindex(columns=columnTitles)
imdb_df.head()
start='http://www.imdb.com/title/'
end='/?ref_=fn_tt_tt_1'
split1=[ elem.split(start)[1] for elem in imdb_df["movie_imdb_link"] ]
split2=[ elem.split(end)[0] for elem in split1]
imdb_df["imdb ID"]=split2
imdb_df=imdb_df.drop(["movie_imdb_link"],axis=1)
columnTitles_new=imdb_df.columns.tolist()
columnTitles_new=columnTitles_new[-1:]+columnTitles_new[:-1]
imdb_df=imdb_df[columnTitles_new]
imdb_df.head()

,imdb ID,director_name,director_facebook_likes,actor_1_name,actor_1_facebook_likes,actor_2_name,actor_2_facebook_likes,actor_3_name,actor_3_facebook_likes,plot_keywords,num_voted_users,cast_total_facebook_likes,num_user_for_reviews,content_rating,title_year,imdb_score,aspect_ratio,movie_facebook_likes
0,tt0499549,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,Wes Studi,855.0,avatar|future|marine|native|paraplegic,886204,4834,3054.0,PG-13,2009.0,7.9,1.78,33000
1,tt0449088,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,Jack Davenport,1000.0,goddess|marriage ceremony|marriage proposal|pi...,471220,48350,1238.0,PG-13,2007.0,7.1,2.35,0
2,tt2379713,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,393.0,Stephanie Sigman,161.0,bomb|espionage|sequel|spy|terrorist,275868,11700,994.0,PG-13,2015.0,6.8,2.35,85000
3,tt1345836,Christopher Nolan,22000.0,Tom Hardy,27000.0,Christian Bale,23000.0,Joseph Gordon-Levitt,23000.0,deception|imprisonment|lawlessness|police offi...,1144337,106759,2701.0,PG-13,2012.0,8.5,2.35,164000
4,tt5289954,Doug Walker,131.0,Doug Walker,131.0,Rob Walker,12.0,NaN,NaN,NaN,8,143,NaN,NaN,NaN,7.1,NaN,0

In [10]:
#save data frame to csv
imdb_df.to_csv("output_data/imdb_movie_original.csv",index=False)

In [ ]:
#combine the tmdb and imdb data frame
movie_df=pd.merge(tmdb_df,imdb_df,on="imdb ID",how='inner')
movie_df.count()
movie_df.head()
movie_df.to_csv("output_data/combine_movie_original.csv",index=False)

In [ ]:
# genre_df=pd.DataFrame(movie_df["Genres"].values.tolist(), columns = ["Genre1", "Genre2", "Genre3",
#                                                                     "Genre4","Genre5","Genre6","Genre7","Genre8"])
# company_df=pd.DataFrame(movie_df["Production Company"].values.tolist(),columns = ["company1","company2","company3","company4","company5","company6","company7","company8","company9","company10","company11","company12","company13",
#                                                                                   "company14","company15","company16","company17","company18","company19","company20","company21","company22","company23","company24","company25","company26"])
# #country_df=pd.DataFrame(movie_df["Production Country"].values.tolist(),columns=["Country1","Country2","Country3"])

In [ ]:
# movie_final_df = pd.concat([movie_df,genre_df,company_df],axis=1)
# movie_final_df = movie_final_df.drop(["Genres","Production Company"], axis = 1)
# movie_final_df.head()

In [ ]:
# #save data frame to csv
# movie_final_df.to_csv("output_data/tmd_api_movie.csv",index=False)