### Clean Up Data and Save to CSV file

In [1]:
# # Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import sys
# Import API key
# from api_keys import api_key
# from api_keys2 import api_key2

## Merge OMDB & TMDB

In [2]:
# Recall the OMDB data and TMDB data
df_tmdb = pd.read_csv("output_data/tmd_api_movie_2019.csv")
df_omdb = pd.read_csv("output_data/omdb_api_movie_2019.csv")

In [4]:
#combine the OMDB and TMDB data to generate final dataframe
df_tmdb["omdb_id"] = df_tmdb["imdb_id"]
df_imdb = pd.merge(df_tmdb, df_omdb, on="omdb_id", how="left")
df_imdb.head()

,ID,Title,Adult,Budget,Genres,Language,Production Company,Popularity,Revenue,Production Country,...,omdb_released,omdb_runtime,omdb_director,omdb_actors,omdb_language,omdb_country,omdb_ratings,omdb_metascore,omdb_imdbRating,omdb_imdbVotes
0,475557,Joker,False,55000000,"['Crime', 'Thriller', 'Drama']",en,"['DC Entertainment', 'Warner Bros. Pictures', ...",462.910,568509478,['United States of America'],...,04 Oct 2019,122 min,Todd Phillips,"Joaquin Phoenix, Robert De Niro, Zazie Beetz, ...",English,"USA, Canada","[{'Source': 'Internet Movie Database', 'Value'...",59.0,8.9,"360,218"
1,420809,Maleficent: Mistress of Evil,False,0,"['Fantasy', 'Adventure', 'Family']",en,['Walt Disney Pictures'],287.919,0,['United States of America'],...,18 Oct 2019,118 min,Joachim Rønning,"Angelina Jolie, Elle Fanning, Imelda Staunton,...",English,USA,"[{'Source': 'Rotten Tomatoes', 'Value': '51%'}]",NaN,NaN,NaN
2,420818,The Lion King,False,260000000,"['Adventure', 'Animation', 'Drama']",en,"['Walt Disney Pictures', 'Fairview Entertainme...",183.255,1649676757,['United States of America'],...,19 Jul 2019,118 min,Jon Favreau,"Chiwetel Ejiofor, John Oliver, James Earl Jone...",English,USA,"[{'Source': 'Internet Movie Database', 'Value'...",55.0,7.1,"102,621"
3,290859,Terminator: Dark Fate,False,160000000,"['Action', 'Science Fiction']",en,"['Lightstorm Entertainment', 'Skydance Media',...",153.313,0,"['China', 'United States of America']",...,01 Nov 2019,NaN,Tim Miller,"Linda Hamilton, Arnold Schwarzenegger, Mackenz...",English,"China, USA",[],NaN,NaN,NaN
4,429617,Spider-Man: Far from Home,False,160000000,"['Action', 'Adventure', 'Science Fiction']",en,"['Marvel Studios', 'Sony Pictures', 'Columbia ...",123.576,1131450163,['United States of America'],...,02 Jul 2019,129 min,Jon Watts,"Tom Holland, Samuel L. Jackson, Jake Gyllenhaa...","Italian, Czech, English",USA,"[{'Source': 'Internet Movie Database', 'Value'...",69.0,7.7,"187,214"

In [5]:
df_imdb.to_csv("output_data/imdb_api_movie_2019.csv",index=False)

## Clean Up Final Data Frame

In [6]:
#Get the column names to drop repeat columns
df_imdb.columns

Index(['ID', 'Title', 'Adult', 'Budget', 'Genres', 'Language',
       'Production Company', 'Popularity', 'Revenue', 'Production Country',
       'Release Date', 'Run Time', 'Vote Average', 'Vote Count', 'imdb_id',
       'omdb_id', 'omdb_title', 'omdb_year', 'omdb_rated', 'omdb_released',
       'omdb_runtime', 'omdb_director', 'omdb_actors', 'omdb_language',
       'omdb_country', 'omdb_ratings', 'omdb_metascore', 'omdb_imdbRating',
       'omdb_imdbVotes'],
      dtype='object')

In [7]:
df_movie=df_imdb.drop(columns=["Release Date","omdb_released","Language","omdb_runtime","imdb_id","omdb_id","omdb_title","omdb_year","omdb_country","omdb_ratings"])
df_movie.head()

,ID,Title,Adult,Budget,Genres,Production Company,Popularity,Revenue,Production Country,Run Time,Vote Average,Vote Count,omdb_rated,omdb_director,omdb_actors,omdb_language,omdb_metascore,omdb_imdbRating,omdb_imdbVotes
0,475557,Joker,False,55000000,"['Crime', 'Thriller', 'Drama']","['DC Entertainment', 'Warner Bros. Pictures', ...",462.910,568509478,['United States of America'],122.0,8.6,3863,R,Todd Phillips,"Joaquin Phoenix, Robert De Niro, Zazie Beetz, ...",English,59.0,8.9,"360,218"
1,420809,Maleficent: Mistress of Evil,False,0,"['Fantasy', 'Adventure', 'Family']",['Walt Disney Pictures'],287.919,0,['United States of America'],118.0,7.1,317,PG,Joachim Rønning,"Angelina Jolie, Elle Fanning, Imelda Staunton,...",English,NaN,NaN,NaN
2,420818,The Lion King,False,260000000,"['Adventure', 'Animation', 'Drama']","['Walt Disney Pictures', 'Fairview Entertainme...",183.255,1649676757,['United States of America'],118.0,7.1,3132,PG,Jon Favreau,"Chiwetel Ejiofor, John Oliver, James Earl Jone...",English,55.0,7.1,"102,621"
3,290859,Terminator: Dark Fate,False,160000000,"['Action', 'Science Fiction']","['Lightstorm Entertainment', 'Skydance Media',...",153.313,0,"['China', 'United States of America']",128.0,7.4,29,NaN,Tim Miller,"Linda Hamilton, Arnold Schwarzenegger, Mackenz...",English,NaN,NaN,NaN
4,429617,Spider-Man: Far from Home,False,160000000,"['Action', 'Adventure', 'Science Fiction']","['Marvel Studios', 'Sony Pictures', 'Columbia ...",123.576,1131450163,['United States of America'],129.0,7.6,4610,PG-13,Jon Watts,"Tom Holland, Samuel L. Jackson, Jake Gyllenhaa...","Italian, Czech, English",69.0,7.7,"187,214"

In [14]:
#Convert 0 value in Budget and Revenue to NaN

<bound method IndexOpsMixin.value_counts of 0        55000000
1               0
2       260000000
3       160000000
4       160000000
5         6000000
6       175000000
7        48000000
8        52000000
9        20000000
10      200000000
11      138000000
12              0
13       79000000
14      183000000
15              0
16       55000000
17      180000000
18      200000000
19      300000000
20      180000000
21              0
22       95000000
23              0
24       20000000
25       90000000
26              0
27       40000000
28       49000000
29       34000000
          ...
9964            0
9965      5000000
9966      6000000
9967            0
9968      6000000
9969           10
9970            0
9971            0
9972            0
9973            0
9974            0
9975            0
9976            0
9977            0
9978      5000000
9979            0
9980            0
9981            0
9982            0
9983            0
9984      1000000
9985            0
9986            0
9987            0
9988            0
9989      1800000
9990      5000000
9991      2600000
9992            0
9993            0
Name: Budget, Length: 9994, dtype: int64>